@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

body {
  background-color: #035185;
}

h4 {
  color: #fff;
}

input {
  text-align: right;
}

option {
  direction: ltr;
}
